
@page {
    size: auto; /* auto is the current printer page size */
    margin: 0mm; /* this affects the margin in the printer settings */
}

body {
    background-color: #FFFFFF;
    border: solid 1px black;
    margin: 0px; /* the margin on the content before printing */
}
