@{
    ViewBag.Title = "Account Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/V2Scripts/Accounts/home.js"></script>
<script src="~/V2Scripts/Accounts/Stories/stories.js"></script>

<div ng-app="AccountsEducationGame" ng-controller="homeController">
    
    <div ui-view></div>
</div>
