
<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<title>FAQ&#039;s - Chiropractic Patient Education</title>
			
	
	<link rel="pingback" href="http://www.bestphysicaltherapy.info/xmlrpc.php" />

		<!--[if lt IE 9]>
	<script src="http://www.bestphysicaltherapy.info/wp-content/themes/Divi/js/html5.js" type="text/javascript"></script>
	<![endif]-->

	<script type="text/javascript">
	    document.documentElement.className = 'js';
	</script>

	
<!-- This site is optimized with the Yoast WordPress SEO plugin v1.6.3 - https://yoast.com/wordpress/plugins/seo/ -->
<link rel="canonical" href="http://www.practiceowl.com/home/Faq/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="FAQ&#039;s - Chiropractic Patient Education" />
<meta property="og:url" content="http://www.practiceowl.com/home/Faq/" />
<meta property="og:site_name" content="Chiropractic Patient Education" />
<meta property="og:image" content="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/07/Practiceowl-FB-feature-FIN1.jpg" />
<!-- / Yoast WordPress SEO plugin. -->

<link rel="alternate" type="application/rss+xml" title="Chiropractic Patient Education &raquo; Feed" href="http://www.practiceowl.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Chiropractic Patient Education &raquo; Comments Feed" href="http://www.practiceowl.com/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="Chiropractic Patient Education &raquo; FAQ&#8217;s Comments Feed" href="http://www.practiceowl.com/home/Faq/feed/" />
<meta content="Divi v.2.0" name="generator"/><link rel='stylesheet' id='divi-fonts-css'  href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,700,800&#038;subset=latin,latin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='divi-style-css'  href='/Content/Style.css' type='text/css' media='all' />
<link rel='stylesheet' id='et-shortcodes-css-css'  href='http://www.bestphysicaltherapy.info/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes.css?ver=3.0' type='text/css' media='all' />
<link rel='stylesheet' id='et-shortcodes-responsive-css-css'  href='http://www.bestphysicaltherapy.info/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes_responsive.css?ver=3.0' type='text/css' media='all' />
<script type='text/javascript' src='http://www.bestphysicaltherapy.info/wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
<script type='text/javascript' src='http://www.bestphysicaltherapy.info/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.bestphysicaltherapy.info/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.bestphysicaltherapy.info/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.0" />
<link rel='shortlink' href='http://www.practiceowl.com/?p=446' />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />	<style>
		a { color: #2297c3; }

		body { color: #666666; }

		.et_pb_counter_amount, .et_pb_featured_table .et_pb_pricing_heading, .et_quote_content, .et_link_content, .et_audio_content { background-color: #2EA3F2; }

		#main-header, #main-header .nav li ul, .et-search-form, #main-header .et_mobile_menu { background-color: #ffffff; }

		#top-header, #et-secondary-nav li ul { background-color: #2EA3F2; }

		.woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce-message, .woocommerce-error, .woocommerce-info { background: #2EA3F2 !important; }

		#et_search_icon:hover, .mobile_menu_bar:before, .footer-widget h4, .et-social-icon a:hover, .comment-reply-link, .form-submit input, .et_pb_sum, .et_pb_pricing li a, .et_pb_pricing_table_button, .et_overlay:before, .entry-summary p.price ins, .woocommerce div.product span.price, .woocommerce-page div.product span.price, .woocommerce #content div.product span.price, .woocommerce-page #content div.product span.price, .woocommerce div.product p.price, .woocommerce-page div.product p.price, .woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price, .et_pb_member_social_links a:hover { color: #2EA3F2 !important; }

		.woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before, .et_pb_widget li a:hover, .et_pb_bg_layout_light .et_pb_promo_button, .et_pb_bg_layout_light .et_pb_more_button, .et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active, .et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active, .et_pb_gallery .et_pb_gallery_pagination ul li a.active, .wp-pagenavi span.current, .wp-pagenavi a:hover, .et_pb_contact_submit, .et_pb_bg_layout_light .et_pb_newsletter_button, .nav-single a, .posted_in a { color: #2EA3F2 !important; }

		.et-search-form, .nav li ul, .et_mobile_menu, .footer-widget li:before, .et_pb_pricing li:before, blockquote { border-color: #2EA3F2; }

		#main-footer { background-color: #222222; }

		#top-menu a { color: #666666; }

		#top-menu li.current-menu-ancestor > a, #top-menu li.current-menu-item > a, .bottom-nav li.current-menu-item > a { color: #2297c3; }

		</style>
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
</head>
<body class="page page-id-446 page-template-default windows et_pb_pagebuilder_layout et_right_sidebar chrome et_includes_sidebar">
	<div id="page-container">

	
		<header id="main-header" class="et_nav_text_color_dark">
			<div class="container clearfix">
							<a href="http://www.practiceowl.com/">
					<img src="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/06/PracticeOwl-New-Final-Logo-Cut-e1402006061567.png" alt="Chiropractic Patient Education" id="logo" />
				</a>

				<div id="et-top-navigation">
					<nav id="top-menu-nav">
					<ul id="top-menu" class="nav"><li id="menu-item-451" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-451"><a href="http://www.practiceowl.com/">Home</a></li>
<li id="menu-item-449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-449"><a href="http://www.practiceowl.com/home/features/">Features</a></li>
<li id="menu-item-448" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-448"><a href="http://www.practiceowl.com/home/pricing/">Pricing</a></li>
<li id="menu-item-452" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-446 current_page_item menu-item-452"><a href="http://www.practiceowl.com/home/Faq/">FAQ&#8217;s</a></li>
<li id="menu-item-450" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-450"><a href="http://www.practiceowl.com/home/ContactUs/">Contact Us</a></li>
<li id="menu-item-339" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-339"><a href="https://www.practiceowl.com/register#/firstPanel">Register</a></li>
<li id="menu-item-340" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-340"><a href="https://www.practiceowl.com/login">Login</a></li>
</ul>					</nav>

					
					
					<div id="et_mobile_nav_menu">
			<a href="#" class="mobile_nav closed">
				<span class="select_page">Select Page</span>
				<span class="mobile_menu_bar"></span>
			</a>
		</div>				</div> <!-- #et-top-navigation -->
			</div> <!-- .container -->
		</header> <!-- #main-header -->

		<div id="et-main-area">
<div id="main-content">


			
				<article id="post-446" class="post-446 page type-page status-publish hentry">

				
					<div class="entry-content">
					<div class="et_pb_section et_section_regular" style='background-color:#878787;'>
			
			
				
				<div class="et_pb_row">
			<div class="et_pb_column et_pb_column_4_4">
			<div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_left">
			
<h1><span style="color: #ffffff;"><strong>Frequently Asked Questions</strong></span></h1>

		</div> <!-- .et_pb_text --><div class="et_pb_toggle et_pb_toggle_open">
			<h5 class="et_pb_toggle_title">What&#039;s SO special about this, haven&#039;t I seen it before?</h5>
			<div class="et_pb_toggle_content clearfix">
				
<p><em>PracticeOwl</em><strong><em> </em></strong>doesn&#8217;t solve world hunger or our current energy crisis, but, <strong>IT WILL</strong> make your life a million times easier and more rewarding! We&#8217;ve asked, and <strong>most of your patients hate learning new things unless they have to or it&#8217;s fun.   Sad, but it&#8217;s true!</strong></p>
<p><strong>Good news! Everyone loves games and unless you&#8217;re a plant, you love winning prizes!  No one&#8217;s got time for nothin&#8217; these days </strong><em>(so, they&#8217;ve got time?) </em><strong><em>and our attention spans are limited.</em></strong></p>
<p><em>PracticeOwl</em><strong> is the first (and only) chiropractic tool out there that is current with what your patients are already doing.  </strong><strong>(Playing games. . . like, <span style="text-decoration: underline;">ALL</span> the time!)</strong></p>
<p><strong>They love their phones.  <span style="color: #339966;">CHECK!</span></strong></p>
<p><strong>They love playing games.  <span style="color: #339966;">CHECK!</span></strong></p>
<p><strong>They love their phones.  <span style="color: #339966;">CHECK! (notice we put that in there, twice. . . intentionally)</span></strong></p>
<p><strong>They love winning stuff.  <span style="color: #339966;">CHECK!</span></strong></p>
<p><strong><em>PracticeOwl</em> is fast to play.  <span style="color: #339966;">CHECK!</span></strong></p>
<p><strong>Oh, and 9/10 chiropractors surveyed brush their teeth AND love <em>PracticeOwl</em>!</strong></p>

			</div> <!-- .et_pb_toggle_content -->
		</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_toggle_close">
			<h5 class="et_pb_toggle_title">What&#039;s this actually going to cost me?</h5>
			<div class="et_pb_toggle_content clearfix">
				
<p>We&#8217;re <span style="text-decoration: underline;">NOT</span> gonna kick you in the goodies!  <em>PracticeOwl</em> is an absolute business NO-BRAINER!</p>
<p>Check it out. . .</p>
<p>According to the yearly research/surveys performed by chiropractic economics,</p>
<p>the average chiropractic clinic acquires 28 new patients/month and collects and average of $60/visit.</p>
<p><em>PracticeOwl</em> has been proven to increase <strong>your</strong> patient visit average (PVA = the number of times a patient visits your office for care)                               by <span style="text-decoration: underline;"><strong>up to 4 additional visits</strong></span>.</p>
<p>Here&#8217;s the math. . .</p>
<p>(4 additional visits) X ($60 collected) = $240.00 X 12 months X 28 NP’s = $80,640.00*</p>
<p><span style="color: #3366ff;"><strong>If you selected the annual payment option (at $83/mo), you would only be paying $8 to completely educate a new patient about chiropractic!  (Remember, this is over their entire life as a patient in your office!)</strong></span></p>
<p>That&#8217;s only 15% of what you collect from a single office visit. . . and you&#8217;ve just paid to completely have your patient educated without any effort on your part!</p>
<p>Also, your credit card will be charged each time a patient redeems a reward.  Reward gift certificates are generally $5.00 and are available for redemption after accumulating enough points.  100 points is the maximum amount available per game play, so it would take at minimum 5 game plays to potentially earn a reward.  On average rewards will cost you $17.50 per patient over the course of their entire play time.</p>
<p><em>*PracticeOwl does not guarantee results.  Every office’s results are unique. Results may vary.</em></p>
<p>Source:  <a href="http://www.chiroeco.com/joomla/images/stories/2011SalarySurvey.pdf" target="_blank">Click Here to be taken to the research.</a></p>

			</div> <!-- .et_pb_toggle_content -->
		</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_toggle_close">
			<h5 class="et_pb_toggle_title">How easy is it to implement?</h5>
			<div class="et_pb_toggle_content clearfix">
				
<p><strong>Super easy!</strong></p>
<p>After <strong>registering (takes 3 minutes), </strong>you&#8217;ll be immediately directed to your <strong><em>PracticeOwl</em> Dashboard</strong>.</p>
<p>Just click the tutorial tab and follow the 3-simple quick-start steps. <strong>You&#8217;re up and running!</strong></p>
<p>Want to learn all about the additional features and special customizations available to you? <span style="color: #3366ff;"> <strong>(NOT NECESSARY TO BEGIN)</strong></span> No problem, just watch the 10-minute advanced tutorial video.  It&#8217;s like having us right by your side walking you through everything. Here, you&#8217;ll learn how to edit, re-order, remove or even <strong>add your own</strong> game-lessons as you like.</p>
<p>Or, do nothing and you&#8217;re still ready to go. You don&#8217;t have to lift a finger training anyone (we don&#8217;t like it either), <em>PracticeOwl</em> does it ALL for you!</p>
<p><span style="color: #3366ff;"><strong> You&#8217;re welcome!</strong></span></p>

			</div> <!-- .et_pb_toggle_content -->
		</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_toggle_close">
			<h5 class="et_pb_toggle_title">Is it only for chiropractors?</h5>
			<div class="et_pb_toggle_content clearfix">
				
<p>Yes, for now. . .</p>
<p>But, we&#8217;re already working on a new set of game-lessons for a handful of other vocations. Stay tuned!</p>

			</div> <!-- .et_pb_toggle_content -->
		</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_toggle_close">
			<h5 class="et_pb_toggle_title">Do I have to train my staff how to use it?</h5>
			<div class="et_pb_toggle_content clearfix">
				
<p><strong>Nope!</strong></p>
<p><strong>PracticeOwl</strong> is <span style="color: #3366ff;"><strong>READY OUT OF THE BOX! </strong></span></p>
<p>Just have your staff read the <strong>3-quick steps</strong> in the tutorial area and you&#8217;re up and running!</p>
<p>Simplicity is most important to us!</p>

			</div> <!-- .et_pb_toggle_content -->
		</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_toggle_close">
			<h5 class="et_pb_toggle_title">What control do I have over the game-lessons?</h5>
			<div class="et_pb_toggle_content clearfix">
				
<p>So, you&#8217;re a control freak?  PERFECT!  <span style="color: #3366ff;"><strong>We&#8217;ve given you the wheel!</strong></span></p>
<p>You can get the full text for every game-lesson and you can edit, re-order, blacklist or even <strong>add your very own game-lesson</strong>, anytime.</p>
<p>Want to know exactly who has played, when, how much it&#8217;s costing you, how smart your patients are getting?  No problem, it&#8217;s all at your finger tips. <em>PracticeOwl</em> comes pre-loaded with 25 expertly crafted and chiropractic tested game-lessons.</p>
<p>Here&#8217;s a preview of the game titles:</p>
<ul>
<li>HOW CHIROPRACTIC WORKS &#8211; The amazing benefits of chiropractic care.</li>
<li>TREATMENT OPTIONS &#8211; The different treatment options we offer.</li>
<li>GOT BACK PAIN? &#8211; How effective chiropractic is at alleviating back pain.</li>
<li>CAR ACCIDENTS &amp; WHIPLASH &#8211; The importance of seeing a chiropractor after a car accident.</li>
<li>INSURANCE EXPLAINED! &#8211; The reasons why chiropractic care is really affordable.</li>
<li>WHO WANTS A UNICORN? &#8211; . . .the myth of the &#8220;magic adjustment.</li>
<li>COMMON QUESTIONS &#8211; ANSWERED! &#8211; Some really cool chiropractic facts.</li>
<li>ATHLETES AND ACTIVE LIVING &#8211; Why most professional athletes see chiropractors.</li>
<li>HEADACHES &#8211; . . . Why so many people suffer, but don&#8217;t have to!</li>
<li>DISC PROBLEMS BET YOU DIDN&#8217;T KNOW. . . &#8211; Some really cool chiropractic health facts.</li>
<li>KIDS &amp; CHIROPRACTIC- Why chiropractic for kids is on the rise.</li>
<li>STRESS!!!  . . . its purpose might surprise you!</li>
<li>CARPAL TUNNEL SYNDROME</li>
<li>CAN YOU IDENTIFY A CONCUSSION?</li>
<li>HEALTHY SLEEP</li>
<li>DR. EMOTO&#8217;S H20</li>
<li>WHY ALL THE FUSS ABOUT VITAMIN D?</li>
<li>LIFE IMPROVEMENT</li>
<li>WHAT&#8217;S REALLY IMPORTANT?</li>
<li>THE TRUTH BEHIND CAFFEINE</li>
<li>PREVENTING BACK PAIN</li>
<li>THE POWER OF SMILING AND LAUGHING</li>
<li>STAY AWAY FROM SOFT DRINKS!</li>
<li>WANNA FEEL LIKE A DOCTOR?</li>
</ul>

			</div> <!-- .et_pb_toggle_content -->
		</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_toggle_close">
			<h5 class="et_pb_toggle_title">Can I get instant reporting on what&#039;s going on in my practice?</h5>
			<div class="et_pb_toggle_content clearfix">
				
<p>Yes!  We have awesome reporting!</p>
<p>At any time, you can get your patients <strong>Grade Point Average (GPA)</strong> to see if it&#8217;s actually working and your patients are, in fact. . .learning!</p>
<p>You can see how much you&#8217;ve spent, and how many prizes have been redeemed.</p>
<p><strong>You can check on everything, easily.</strong></p>

			</div> <!-- .et_pb_toggle_content -->
		</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_toggle_close">
			<h5 class="et_pb_toggle_title">Is it kosher?</h5>
			<div class="et_pb_toggle_content clearfix">
				
<p><strong>You Betcha!   </strong></p>
<p>Rabbi Yitzchak Rabinowitz gives us two thumbs up!</p>
<p>We&#8217;ve checked with attorneys that know our business (chiropractic, that is) and nearly all the chiropractic boards, and there is <span style="text-decoration: underline;">nothing</span> wrong with incentivising patients to learn about chiropractic and rewarding them for proven knowledge. <strong> In fact, they loved the idea!</strong></p>
<p>Since we&#8217;re not incentivising them for referrals or gifting them for coming in for chiropractic visits,<strong> it&#8217;s all kosher!</strong></p>
<p>A patient could even play at home, if you decided to tell them the daily, unique code.</p>
<p><strong><span style="color: #3366ff;">Sleep like a baby, knowing <em>PracticeOwl</em> is 100% board-friendly.</span></strong></p>

			</div> <!-- .et_pb_toggle_content -->
		</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_toggle_close">
			<h5 class="et_pb_toggle_title">Can patients play at home?</h5>
			<div class="et_pb_toggle_content clearfix">
				
<p><strong>Well. . . yes, <span style="text-decoration: underline;">IF</span> you decide to let them (up to you).</strong></p>
<p>Patients are going to love playing the game and achieving rewards.  If we let patient&#8217;s play whenever they like, chances are they&#8217;d play through all the lessons at once.  There&#8217;s no way anyone could ingest all that highly valuable information in one sitting, so <strong>we only allow one-play/day.</strong> They&#8217;ll need to come to the office to get the daily unique <strong>play-code</strong>, in order to login. This way we can &#8220;drip&#8221; the information to them in small, highly digestible nuggets, ensuring they&#8217;re really going to &#8220;get it.&#8221; If you were so inclined, you could give a patient the code over the phone so they could play at home, it&#8217;s entirely up to you.</p>

			</div> <!-- .et_pb_toggle_content -->
		</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_toggle_close">
			<h5 class="et_pb_toggle_title">What is your refund policy?</h5>
			<div class="et_pb_toggle_content clearfix">
				
<p>Got commitment problems?  We&#8217;re not judging!  No Problem.  <span style="color: #3366ff;">Make certain to select a plan-option that is consistent with your comfort level.</span></p>
<p>You can cancel anytime, but <strong>no refunds are given for partial plan use.</strong></p>
<p>If you&#8217;re the type of person that needs to &#8220;dip a toe in the water,&#8221; please select the monthly option for payment &#8212; this allows you to start using <em>PracticeOwl</em> with the least amount of commitment.  <span style="text-decoration: underline;">Keep in mind, you&#8217;ll pay the most for <em>PracticeOwl</em> this way</span>.</p>
<p style="text-align: center;"><span style="color: #3366ff;"><strong>**NOTE:  87% of chiropractors choose the &#8220;Preferred Plan &#8211; Annual payment&#8221; and save the most.**</strong></span></p>

			</div> <!-- .et_pb_toggle_content -->
		</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_toggle_close">
			<h5 class="et_pb_toggle_title">Do patient&#039;s come to this website?</h5>
			<div class="et_pb_toggle_content clearfix">
				
<p><strong>NO!!!  </strong></p>
<p>Patient&#8217;s and your staff will never mention &#8220;<em>PracticeOwl</em>,&#8221; but instead will <strong><span style="text-decoration: underline;">ONLY</span></strong> refer to this as the, &#8220;Chiro Game.&#8221;</p>
<p>Patients login at a totally different generic domain and are never shown anything with the words <em>PracticeOwl</em> on it.</p>
<p style="text-align: left;"><span style="color: #3366ff;"><strong>Everything patients see is customized with your name and logo, period.</strong></span></p>

			</div> <!-- .et_pb_toggle_content -->
		</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_toggle_close">
			<h5 class="et_pb_toggle_title">Absolutely NO spamming my patients, right?</h5>
			<div class="et_pb_toggle_content clearfix">
				
<p><strong>NEVER!!!  </strong> We have NO reason to do so. The only thing they&#8217;ll ever get from &#8220;us&#8221; (it really looks like it&#8217;s from you) are rewards.  That&#8217;s it.  Period!</p>

			</div> <!-- .et_pb_toggle_content -->
		</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_toggle_close">
			<h5 class="et_pb_toggle_title">What can I do with all this time, happy patients and professional respect?</h5>
			<div class="et_pb_toggle_content clearfix">
				
<p><strong>Whatever you like!</strong></p>
<p>Take a trip to a 3rd world country and offer free chiropractic care, build a tree-house for your kids or buy yourself a Ferrari.</p>
<p><strong><span style="color: #3366ff;">Whatever you choose to do with all your <span style="text-decoration: underline;">extra time</span> and <span style="text-decoration: underline;">income</span>, we support you!</span></strong></p>

			</div> <!-- .et_pb_toggle_content -->
		</div> <!-- .et_pb_toggle --><div class="et_pb_promo et_pb_bg_layout_dark et_pb_text_align_center" style="background-color: #2EA3F2;">
			<div class="et_pb_promo_description">
				<h2>Didn&#039;t find your answer?</h2>
				
<p style="text-align: center;"><strong>We&#8217;re happy to hear from you, anytime.</strong></p>

			</div>
			<a class="et_pb_promo_button" href="http://www.practiceowl.com/home/ContactUs/">Contact Us</a>
		</div>
		</div> <!-- .et_pb_column -->
		</div> <!-- .et_pb_row -->
			
		</div> <!-- .et_pb_section -->
					</div> <!-- .entry-content -->

				
				</article> <!-- .et_pb_post -->

			

</div> <!-- #main-content -->


			<footer id="main-footer">
				

		
				<div id="et-footer-nav">
					<div class="container">
						<ul id="menu-main-menu" class="bottom-nav"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-451"><a href="http://www.practiceowl.com/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-449"><a href="http://www.practiceowl.com/home/features/">Features</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-448"><a href="http://www.practiceowl.com/home/pricing/">Pricing</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-446 current_page_item menu-item-452"><a href="http://www.practiceowl.com/home/Faq/">FAQ&#8217;s</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-450"><a href="http://www.practiceowl.com/home/ContactUs/">Contact Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-339"><a href="https://www.practiceowl.com/register#/firstPanel">Register</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-340"><a href="https://www.practiceowl.com/login">Login</a></li>
</ul>					</div>
				</div> <!-- #et-footer-nav -->

			
				<div id="footer-bottom">
					<div class="container clearfix">
				
						<p id="footer-info">Designed by <a href="http://www.practiceowl.com" title="PracticeOwl">PracticeOwl,LLC.</a> | Powered by <a href="http://www.practiceowl.com">PracticeOwl,LLC. 2014 Copyrights, All Rights Reserved, Patents Pending.</a></p>
					</div>	<!-- .container -->
				</div>
			</footer> <!-- #main-footer -->
		</div> <!-- #et-main-area -->


	</div> <!-- #page-container -->

	<script type='text/javascript' src='http://www.bestphysicaltherapy.info/wp-includes/js/comment-reply.min.js?ver=4.0'></script>
<script type='text/javascript' src='http://www.bestphysicaltherapy.info/wp-content/themes/Divi/js/jquery.fitvids.js?ver=2.0'></script>
<script type='text/javascript' src='http://www.bestphysicaltherapy.info/wp-content/themes/Divi/js/waypoints.min.js?ver=2.0'></script>
<script type='text/javascript' src='http://www.bestphysicaltherapy.info/wp-content/themes/Divi/js/jquery.magnific-popup.js?ver=2.0'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var et_custom = { "ajaxurl": "http:\/\/www.bestphysicaltherapy.info\/wp-admin\/admin-ajax.php", "images_uri": "http:\/\/www.bestphysicaltherapy.info\/wp-content\/themes\/Divi\/images", "et_load_nonce": "276092b8df", "subscription_failed": "Please, check the fields below to make sure you entered the correct information.", "fill": "Fill", "field": "field", "invalid": "Invalid email", "captcha": "Captcha" };
    /* ]]> */
</script>
<script type='text/javascript' src='http://www.bestphysicaltherapy.info/wp-content/themes/Divi/js/custom.js?ver=2.0'></script>
</body>
</html>
<!-- Dynamic page generated in 0.442 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2014-10-22 11:38:43 -->

<!-- Compression = gzip -->