<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <title>PracticeOwl Welcome - Chiropractic Patient Education</title>


    <link rel="pingback" href="http://www.bestphysicaltherapy.info/xmlrpc.php" />

    <!--[if lt IE 9]>
	<script src="http://www.bestphysicaltherapy.info/wp-content/themes/Divi/js/html5.js" type="text/javascript"></script>
	<![endif]-->

    <script type="text/javascript">
        document.documentElement.className = 'js';
    </script>


    <!-- This site is optimized with the Yoast WordPress SEO plugin v1.6.3 - https://yoast.com/wordpress/plugins/seo/ -->
    <link rel="canonical" href="http://www.practiceowl.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Automated Chiropractic Education" />
    <meta property="og:description" content="You shouldn&#039;t have to sell healthy choices. A fun game that consistently and measurably automates chiropractic patient education, so YOU can stop selling forever!" />
    <meta property="og:url" content="http://www.practiceowl.com/" />
    <meta property="og:site_name" content="Chiropractic Patient Education" />
    <meta property="og:image" content="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/FB-link-ad-image.jpg" />
    <!-- / Yoast WordPress SEO plugin. -->

    <link rel="alternate" type="application/rss+xml" title="Chiropractic Patient Education &raquo; Feed" href="http://www.practiceowl.com/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Chiropractic Patient Education &raquo; Comments Feed" href="http://www.practiceowl.com/comments/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Chiropractic Patient Education &raquo; PracticeOwl Welcome Comments Feed" href="http://www.practiceowl.com/practiceowl-welcome/feed/" />
    <meta content="Divi v.2.0" name="generator" />
    <link rel='stylesheet' id='divi-fonts-css' href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,700,800&#038;subset=latin,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' id='divi-style-css' href='/Content/Style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='et-shortcodes-css-css' href='http://www.bestphysicaltherapy.info/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes.css?ver=3.0' type='text/css' media='all' />
    <link rel='stylesheet' id='et-shortcodes-responsive-css-css' href='http://www.bestphysicaltherapy.info/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes_responsive.css?ver=3.0' type='text/css' media='all' />
    <script type='text/javascript' src='http://www.bestphysicaltherapy.info/wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
    <script type='text/javascript' src='http://www.bestphysicaltherapy.info/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.bestphysicaltherapy.info/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.bestphysicaltherapy.info/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.0" />
    <link rel='shortlink' href='http://www.practiceowl.com/' />
    <link rel="image_src" style="width: 200px; height: 200px" href="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/Feature-PracticeOwl-image-300x225.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <style>
        a {
            color: #2297c3;
        }

        body {
            color: #666666;
        }

        .et_pb_counter_amount, .et_pb_featured_table .et_pb_pricing_heading, .et_quote_content, .et_link_content, .et_audio_content {
            background-color: #2EA3F2;
        }

        #main-header, #main-header .nav li ul, .et-search-form, #main-header .et_mobile_menu {
            background-color: #ffffff;
        }

        #top-header, #et-secondary-nav li ul {
            background-color: #2EA3F2;
        }

        .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce-message, .woocommerce-error, .woocommerce-info {
            background: #2EA3F2 !important;
        }

        #et_search_icon:hover, .mobile_menu_bar:before, .footer-widget h4, .et-social-icon a:hover, .comment-reply-link, .form-submit input, .et_pb_sum, .et_pb_pricing li a, .et_pb_pricing_table_button, .et_overlay:before, .entry-summary p.price ins, .woocommerce div.product span.price, .woocommerce-page div.product span.price, .woocommerce #content div.product span.price, .woocommerce-page #content div.product span.price, .woocommerce div.product p.price, .woocommerce-page div.product p.price, .woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price, .et_pb_member_social_links a:hover {
            color: #2EA3F2 !important;
        }

        .woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before, .et_pb_widget li a:hover, .et_pb_bg_layout_light .et_pb_promo_button, .et_pb_bg_layout_light .et_pb_more_button, .et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active, .et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active, .et_pb_gallery .et_pb_gallery_pagination ul li a.active, .wp-pagenavi span.current, .wp-pagenavi a:hover, .et_pb_contact_submit, .et_pb_bg_layout_light .et_pb_newsletter_button, .nav-single a, .posted_in a {
            color: #2EA3F2 !important;
        }

        .et-search-form, .nav li ul, .et_mobile_menu, .footer-widget li:before, .et_pb_pricing li:before, blockquote {
            border-color: #2EA3F2;
        }

        #main-footer {
            background-color: #222222;
        }

        #top-menu a {
            color: #666666;
        }

        #top-menu li.current-menu-ancestor > a, #top-menu li.current-menu-item > a, .bottom-nav li.current-menu-item > a {
            color: #2297c3;
        }
    </style>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
</head>
<body class="home page page-id-386 page-template-default windows et_pb_pagebuilder_layout et_right_sidebar gecko et_includes_sidebar">
    <div id="page-container">


        <header id="main-header" class="et_nav_text_color_dark">
            <div class="container clearfix">
                <a href="http://www.practiceowl.com/">
                    <img src="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/06/PracticeOwl-New-Final-Logo-Cut-e1402006061567.png" alt="Chiropractic Patient Education" id="logo" />
                </a>

                <div id="et-top-navigation">
                    <nav id="top-menu-nav">
                        <ul id="top-menu" class="nav">
                            <li id="menu-item-451" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-386 current_page_item menu-item-451"><a href="http://www.practiceowl.com/">Home</a></li>
                            <li id="menu-item-449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-449"><a href="http://www.practiceowl.com/home/features/">Features</a></li>
                            <li id="menu-item-448" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-448"><a href="http://www.practiceowl.com/home/pricing/">Pricing</a></li>
                            <li id="menu-item-452" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-452"><a href="http://www.practiceowl.com/home/Faq/">FAQ&#8217;s</a></li>
                            <li id="menu-item-450" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-450"><a href="http://www.practiceowl.com/home/ContactUs/">Contact Us</a></li>
                            <li id="menu-item-339" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-339"><a href="https://www.practiceowl.com/register#/firstPanel">Register</a></li>
                            <li id="menu-item-340" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-340"><a href="https://www.practiceowl.com/login">Login</a></li>
                        </ul>
                    </nav>



                    <div id="et_mobile_nav_menu">
                        <a href="#" class="mobile_nav closed">
                            <span class="select_page">Select Page</span>
                            <span class="mobile_menu_bar"></span>
                        </a>
                    </div>
                </div>
                <!-- #et-top-navigation -->
            </div>
            <!-- .container -->
        </header>
        <!-- #main-header -->

        <div id="et-main-area">
            <div id="main-content">



                <article id="post-386" class="post-386 page type-page status-publish has-post-thumbnail hentry">
                    <div class="entry-content">
                        <div class="et_pb_section et_pb_fullwidth_section et_section_regular" style='background-color: #ffffff;'>
                            <div class="et_pb_slider">
                                <div class="et_pb_slides">
                                    <div class="et_pb_slide et_pb_slide_with_image et_pb_bg_layout_dark et_pb_media_alignment_center" style='background-color: #ffffff; background-image: url(http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/PracticeOwl-Main-Background-pic.jpg);'>

                                        <div class="et_pb_container clearfix">
                                            <div class="et_pb_slide_image">
                                                <img src="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/06/blank-400-o.png" alt="" /></div>
                                            <div class="et_pb_slide_description" style="text-align: center">
                                                <h2><a onclick="jQuery('body').scrollTo('#VideoDiv')"><strong>You shouldn't have to sell healthy choices.</strong></a></h2>
                                                    <h3></h3>
                                                    <h3 style="text-align: center;">A <strong>fun game</strong> that consistently and measurably automates chiropractic patient education,</h3>
                                                    <h3 style="text-align: center;">so <strong>you</strong> can stop selling forever.</h3>
                                                <a onclick="jQuery('body').scrollTo('#VideoDiv')" class="et_pb_more_button" style="display: block !important">Watch it in action!</a>
                                            </div>
                                            <!-- .et_pb_slide_description -->
                                            <div style="text-align: center">
                                            </div>
                                        </div>
                                        <!-- .et_pb_container -->

                                    </div>
                                    <!-- .et_pb_slide -->

                                </div>
                                <!-- .et_pb_slides -->
                            </div>
                            <!-- .et_pb_slider -->


                        </div>
                        <!-- .et_pb_section -->
                        <div class="et_pb_section et_section_regular">



                            <div class="et_pb_row">
                                <div class="et_pb_column et_pb_column_4_4">
                                    <div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_left">

                                        <h1 class="p1"><a href="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/speed-icon.png">
                                            <img class="alignleft wp-image-550 " src="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/speed-icon.png" alt="" width="131" height="133" /></a><strong>  Only</strong> <strong>3-minutes to register!</strong></h1>
                                        <p>&nbsp;</p>
                                        <h4 class="p1" style="padding-left: 90px;">Your patients can start playing immediately once you&#8217;re registered and there&#8217;s no technology to buy.</h4>
                                        <h4></h4>
                                        <h4></h4>
                                        <p>&nbsp;</p>
                                        <h4></h4>
                                        <h1 class="p1"><a href="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/1904_money_bag.png">
                                            <img class="alignleft  wp-image-529" src="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/1904_money_bag-150x150.png" alt="1904_money_bag" width="127" height="127" /></a>    <strong>Collect an <span style="text-decoration: underline;">extra</span> $81,000!</strong></h1>
                                        <p>&nbsp;</p>
                                        <h4 class="p1">When educated by <em>PracticeOwl</em>, your patients will come in for care up to 4 more times</h4>
                                        <h4 class="p1" style="padding-left: 60px;">. . . that adds up!  <span style="color: #808080;">(Up to $81k*)</span></h4>
                                        <h4></h4>
                                        <h2></h2>
                                        <p>&nbsp;</p>
                                        <h2></h2>
                                        <h1 class="p1"><b><a href="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/graduation-hat.png">
                                            <img class="alignleft  wp-image-530" src="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/graduation-hat-150x150.png" alt="graduation hat" width="144" height="144" /></a></b></h1>
                                        <h1 class="p1"><b>Patients will a<em>ctually</em> learn!</b></h1>
                                        <p>&nbsp;</p>
                                        <h4 class="p1" style="padding-left: 60px;">Thanks to our unique reward system, patients are self-motivated to continue learning and playing.</h4>
                                        <h4 class="p1" style="padding-left: 60px;">This is the last, complete patient education tool you&#8217;ll ever need.</h4>

                                    </div>
                                    <!-- .et_pb_text -->
                                </div>
                                <!-- .et_pb_column -->
                            </div>
                            <!-- .et_pb_row -->

                        </div>
                        <!-- .et_pb_section -->
                        <div class="et_pb_section et_section_regular" style='background-color: #919191;'>



                            <div class="et_pb_row">
                                <div class="et_pb_column et_pb_column_4_4">
                                    <div id="VideoDiv" class="et_pb_text et_pb_bg_layout_light et_pb_text_align_left">

                                        <p>
                                            <script src="http://redemptor1.evsuite.com/player/UG93bEZpbmFsaW50cm92aWQzTVA0c2l6ZXJhdGlvLTIubXA0/?responsive=1&amp;autoResponsive=1&amp;container=evp-FU3AB7L45U" type="text/javascript"></script>
                                        </p>
                                        <div id="evp-FU3AB7L45U" data-role="evp-video" data-evp-id="UG93bEZpbmFsaW50cm92aWQzTVA0c2l6ZXJhdGlvLTIubXA0"></div>

                                    </div>
                                    <!-- .et_pb_text -->
                                </div>
                                <!-- .et_pb_column -->
                            </div>
                            <!-- .et_pb_row -->

                        </div>
                        <!-- .et_pb_section -->
                        <div class="et_pb_section et_section_regular" style='background-color: #f4f4f4;'>



                            <div class="et_pb_row">
                                <div class="et_pb_column et_pb_column_4_4">
                                    <div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_left">

                                        <h1 style="text-align: center;"><strong>Educating patients becomes <span style="color: #00ccff;">easy</span> when it&#8217;s <span style="color: #00ccff;">fun</span>.</strong></h1>

                                    </div>
                                    <!-- .et_pb_text -->
                                </div>
                                <!-- .et_pb_column -->
                            </div>
                            <!-- .et_pb_row -->
                            <div class="et_pb_row">
                                <div class="et_pb_column et_pb_column_1_4">
                                    <img src="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/06/iphone-lesson-slide-FIN.png" alt="" class="et-waypoint et_pb_image et_pb_animation_left" />
                                </div>
                                <!-- .et_pb_column -->
                                <div class="et_pb_column et_pb_column_1_2">
                                    <div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_left">

                                        <h1><a href="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/blue-ckeck.png">
                                            <img class="alignleft  wp-image-555" src="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/blue-ckeck-150x150.png" alt="blue ckeck" width="68" height="68" /></a></h1>
                                        <h1></h1>
                                        <h2>They come in and play.</h2>
                                        <p>&nbsp;</p>
                                        <h2></h2>
                                        <h1><a href="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/blue-ckeck.png">
                                            <img class="alignleft  wp-image-555" src="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/blue-ckeck-150x150.png" alt="blue ckeck" width="93" height="93" /></a></h1>
                                        <h1></h1>
                                        <h2>They earn points for learning.</h2>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <h1><a href="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/blue-ckeck.png">
                                            <img class="alignleft  wp-image-555" src="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/blue-ckeck-150x150.png" alt="blue ckeck" width="121" height="121" /></a></h1>
                                        <h1></h1>
                                        <h1></h1>
                                        <h3>They exchange points for rewards!</h3>

                                    </div>
                                    <!-- .et_pb_text -->
                                    <div class="et_pb_toggle et_pb_toggle_close">
                                        <h5 class="et_pb_toggle_title">Get more details . . . (Click Here)</h5>
                                        <div class="et_pb_toggle_content clearfix">

                                            <ul>
                                                <li>Your patients will play a short, 2-minute educational game each time they come in.</li>
                                                <li>Each game consists of 4 engaging lesson slides followed by 3 true/false questions that are fun!</li>
                                                <li><em>PracticeOwl</em> automatically tracks and provides you with your collective patients&#8217; GPA.</li>
                                                <li>Correct answers earn your patients points, which can later be redeemed for rewards <strong>and creates a strong desire to continue playing.</strong></li>
                                                <li>Educated patients are more likely to follow through with your recommendations and refer others.</li>
                                                <li>Everyone loves games and adding <em>PracticeOwl</em> to your office will instantly lift the fun-factor and success of your clinic.</li>
                                            </ul>

                                        </div>
                                        <!-- .et_pb_toggle_content -->
                                    </div>
                                    <!-- .et_pb_toggle -->
                                </div>
                                <!-- .et_pb_column -->
                                <div class="et_pb_column et_pb_column_1_4">
                                    <img src="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/06/Iphone-SALES-Quest-only-fin2.png" alt="" class="et-waypoint et_pb_image et_pb_animation_right" />
                                </div>
                                <!-- .et_pb_column -->
                            </div>
                            <!-- .et_pb_row -->
                            <div class="et_pb_row">
                                <div class="et_pb_column et_pb_column_4_4">
                                    <div class="et_pb_promo et_pb_bg_layout_dark et_pb_text_align_center" style="background-color: #2EA3F2;">
                                        <div class="et_pb_promo_description">
                                            <h2>Sick of selling?</h2>

                                            <p><strong>Say goodbye to healthcare classes and timely patient education once and for all!</strong></p>

                                        </div>
                                        <a class="et_pb_promo_button" href="https://www.practiceowl.com/register#/firstPanel">Register Now!</a>
                                    </div>
                                </div>
                                <!-- .et_pb_column -->
                            </div>
                            <!-- .et_pb_row -->

                        </div>
                        <!-- .et_pb_section -->
                        <div class="et_pb_section et_section_regular">



                            <div class="et_pb_row">
                                <div class="et_pb_column et_pb_column_4_4">
                                    <div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_center">

                                        <h1 style="text-align: center;"><strong>What your colleagues are saying</strong></h1>
                                        <h4 style="text-align: center;">Don’t just take it from us, let our customers do the talking!</h4>

                                    </div>
                                    <!-- .et_pb_text -->
                                </div>
                                <!-- .et_pb_column -->
                            </div>
                            <!-- .et_pb_row -->
                            <div class="et_pb_row">
                                <div class="et_pb_column et_pb_column_1_3">
                                    <div class="et_pb_testimonial et_pb_bg_layout_light et_pb_text_align_left clearfix" style="background-color: #f5f5f5;">
                                        <div class="et_pb_testimonial_portrait" style="background-image: url(http://www.bestphysicaltherapy.info/wp-content/uploads/2014/06/dr-andrew-fin-cut.jpg);">
                                        </div>
                                        <div class="et_pb_testimonial_description">

                                            <p>&#8220;PracticeOwl was the perfect addition to my practice.  My partner and I spend several hours each week educating our practice members both individually and in groups.  PracticeOwl gives us confidence that our practice members are getting vitalistic education so that we can spend more time adjusting and serving.  After all, the word  &#8220;doctor&#8221; means teacher!  <b>PracticeOwl is Chiropractic Gold!</b>  Your practice deserves this!&#8221;</p>

                                            <strong class="et_pb_testimonial_author">Dr. Andrew T'orchio</strong>
                                            <p class="et_pb_testimonial_meta">Chiropractor, Oregon</p>
                                        </div>
                                        <!-- .et_pb_testimonial_description -->
                                    </div>
                                    <!-- .et_pb_testimonial -->
                                </div>
                                <!-- .et_pb_column -->
                                <div class="et_pb_column et_pb_column_1_3">
                                    <div class="et_pb_testimonial et_pb_bg_layout_light et_pb_text_align_left clearfix" style="background-color: #f5f5f5;">
                                        <div class="et_pb_testimonial_portrait" style="background-image: url(http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/amanda-face-pic.jpg);">
                                        </div>
                                        <div class="et_pb_testimonial_description">

                                            <p>&#8220;Using PracticeOwl has made educating my patients effortless.  I like the fact that it was so easy to get it going and my patients loved it the first time they played.  I would highly recommend this for any docs sick and tired of constantly having to sell chiropractic, it takes all the pressure off of you. &#8221;</p>

                                            <strong class="et_pb_testimonial_author">Dr. Amanda K.</strong>
                                            <p class="et_pb_testimonial_meta">Chiropractor, Washington</p>
                                        </div>
                                        <!-- .et_pb_testimonial_description -->
                                    </div>
                                    <!-- .et_pb_testimonial -->
                                </div>
                                <!-- .et_pb_column -->
                                <div class="et_pb_column et_pb_column_1_3">
                                    <div class="et_pb_testimonial et_pb_bg_layout_light et_pb_text_align_left clearfix" style="background-color: #f5f5f5;">
                                        <div class="et_pb_testimonial_portrait" style="background-image: url(http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/NR-Face-pic.jpg);">
                                        </div>
                                        <div class="et_pb_testimonial_description">

                                            <p>&#8220;Very rarely do I believe that a practice tool has the ability to really make a huge difference .  PracticeOwl is a rare find that absolutely lives up to its tag line of being a Game-Changer.  My patients finally Get It and education in my office is finally consistent and streamlined.  I like knowing that each and every one of my patients get the same, high quality education in a consistent repeatable way &#8212; without ANY effort on my part!&#8221;</p>

                                            <strong class="et_pb_testimonial_author">Dr. Nevin R.</strong>
                                            <p class="et_pb_testimonial_meta">Chiropractor, Minnesota</p>
                                        </div>
                                        <!-- .et_pb_testimonial_description -->
                                    </div>
                                    <!-- .et_pb_testimonial -->
                                </div>
                                <!-- .et_pb_column -->
                            </div>
                            <!-- .et_pb_row -->
                            <div class="et_pb_row">
                                <div class="et_pb_column et_pb_column_4_4">
                                    <div class="et_pb_promo et_pb_bg_layout_dark et_pb_text_align_center" style="background-color: #2EA3F2;">
                                        <div class="et_pb_promo_description">
                                            <h2>Sick of selling?</h2>

                                            <p><strong>Say goodbye to healthcare classes and timely patient education once and for all!</strong></p>

                                        </div>
                                        <a class="et_pb_promo_button" href="https://www.practiceowl.com/register#/firstPanel">Register Now!</a>
                                    </div>
                                </div>
                                <!-- .et_pb_column -->
                            </div>
                            <!-- .et_pb_row -->
                            <div class="et_pb_row">
                                <div class="et_pb_column et_pb_column_4_4">
                                    <div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_left">

                                        <h6>* Assuming your clinic is performing at the current chiropractic clinic national averages (28 NP/month, $60 collection/vs).  <a href="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/FB-link-ad-image.jpg">
                                            <img class="alignright wp-image-646 size-medium" src="http://www.bestphysicaltherapy.info/wp-content/uploads/2014/09/FB-link-ad-image-300x156.jpg" alt="" width="300" height="156" /></a></h6>
                                        <h6>PracticeOwl has been proven to increase your patient visit average (the number of times a patient visits your office for care) by up to 4 additional visits.</h6>
                                        <h6>(4 additional visits) x ($60 collected) = $240.00 X 12 months X 28 NP&#8217;s = $80,640.00</h6>
                                        <h6>PracticeOwl does not guarantee results.  Every office&#8217;s results are unique. Results may vary.</h6>
                                        <h6>Source:  <a href="http://www.chiroeco.com/joomla/images/stories/2011SalarySurvey.pdf" target="_blank">Click Here to be taken to the research.</a></h6>

                                    </div>
                                    <!-- .et_pb_text -->
                                </div>
                                <!-- .et_pb_column -->
                            </div>
                            <!-- .et_pb_row -->

                        </div>
                        <!-- .et_pb_section -->
                    </div>
                    <!-- .entry-content -->


                </article>
                <!-- .et_pb_post -->



            </div>
            <!-- #main-content -->


            <footer id="main-footer">



                <div id="et-footer-nav">
                    <div class="container">
                        <ul id="menu-main-menu" class="bottom-nav">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-386 current_page_item menu-item-451"><a href="http://www.practiceowl.com/">Home</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-449"><a href="http://www.practiceowl.com/home/features/">Features</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-448"><a href="http://www.practiceowl.com/home/pricing/">Pricing</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-452"><a href="http://www.practiceowl.com/home/Faq/">FAQ&#8217;s</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-450"><a href="http://www.practiceowl.com/home/ContactUs/">Contact Us</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-339"><a href="https://www.practiceowl.com/register#/firstPanel">Register</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-340"><a href="https://www.practiceowl.com/login">Login</a></li>
                        </ul>
                    </div>
                </div>
                <!-- #et-footer-nav -->


                <div id="footer-bottom">
                    <div class="container clearfix">

                        <p id="footer-info">Designed by <a href="http://www.practiceowl.com" title="PracticeOwl">PracticeOwl,LLC.</a> | Powered by <a href="http://www.practiceowl.com">PracticeOwl,LLC. 2014 Copyrights, All Rights Reserved, Patents Pending.</a></p>
                    </div>
                    <!-- .container -->
                </div>
            </footer>
            <!-- #main-footer -->
        </div>
        <!-- #et-main-area -->


    </div>
    <!-- #page-container -->

    <script type='text/javascript' src='http://www.bestphysicaltherapy.info/wp-includes/js/comment-reply.min.js?ver=4.0'></script>
    <script type='text/javascript' src='http://www.bestphysicaltherapy.info/wp-content/themes/Divi/js/jquery.fitvids.js?ver=2.0'></script>
    <script type='text/javascript' src='http://www.bestphysicaltherapy.info/wp-content/themes/Divi/js/waypoints.min.js?ver=2.0'></script>
    <script type='text/javascript' src='http://www.bestphysicaltherapy.info/wp-content/themes/Divi/js/jquery.magnific-popup.js?ver=2.0'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var et_custom = { "ajaxurl": "http:\/\/www.bestphysicaltherapy.info\/wp-admin\/admin-ajax.php", "images_uri": "http:\/\/www.bestphysicaltherapy.info\/wp-content\/themes\/Divi\/images", "et_load_nonce": "276092b8df", "subscription_failed": "Please, check the fields below to make sure you entered the correct information.", "fill": "Fill", "field": "field", "invalid": "Invalid email", "captcha": "Captcha" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='http://www.bestphysicaltherapy.info/wp-content/themes/Divi/js/custom.js?ver=2.0'></script>
    <script>
        jQuery.fn.scrollTo = function (target, options, callback) {
            if (typeof options == 'function' && arguments.length == 2) { callback = options; options = target; }
            var settings = jQuery.extend({
                scrollTarget: target,
                offsetTop: 50,
                duration: 500,
                easing: 'swing'
            }, options);
            return this.each(function () {
                var scrollPane = jQuery(this);
                var scrollTarget = (typeof settings.scrollTarget == "number") ? settings.scrollTarget : jQuery(settings.scrollTarget);
                var scrollY = (typeof scrollTarget == "number") ? scrollTarget : scrollTarget.offset().top + scrollPane.scrollTop() - parseInt(settings.offsetTop);
                scrollPane.animate({ scrollTop: scrollY }, parseInt(settings.duration), settings.easing, function () {
                    if (typeof callback == 'function') { callback.call(this); }
                });
            });
        }
    </script>
</body>
</html>
<!-- Dynamic page generated in 1.319 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2014-10-22 10:58:15 -->

<!-- Compression = gzip -->
