@model EducationGame.Controllers.PrintableDailyModel

@{
    ViewBag.Title = "Daily Code Printout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    alert("Simply use the browser's print page to print the information.  Uncheck the setting to remove headers and footers for a cleaner printout.");
</script>

    <link type="text/css" href="~/CustomCss/PrintoutCss.css" />
<div class="container visible text-center">
    <div id="PrintoutContainer">
        <img src="/Images/SecretTokenPrintout.jpg"/>

        <h1>@Model.DailyCode</h1>
        <h3>For New Patients:</h3>
        <h3>Clinic Id: @Model.ClinicId</h3>
    </div>

</div>
