@{
    ViewBag.Title = "Education Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/V2Scripts/config/home.js"></script>
<script src="~/V2Scripts/game/game.js"></script>

<div ng-app="EducationGame" ng-controller="homeController">
    <div ui-view></div>
</div>