<div first-panel style="text-align: center;">
    <br />
    <img src="/Images/Logo.png" style="width: 50%" />
    <br />
    <br />
    <!--<iframe width="560" height="315" src="//www.youtube.com/embed/Ma6DzcrGKzc?rel=0" frameborder="0" allowfullscreen></iframe>-->
    <h2>Educating your patients is difficult.</h2>
    <h3>Properly educating patients adds $80,640 annually to your office.</h3>
    <h4>Here's how: </h4>
    <div class="row">
        <div class="col-sm-6 front-font">The national patient visit average(PVA) is {{pva}} visits a month.</div>
        <div class="col-sm-6 front-font">The national number of new patients is {{newPatientsPerMonth}} per month.</div>
    </div>
    <div class="row">
        <div class="col-sm-6 front-font">The average collections per patient visit is ${{averageCollectionsPerVisit}}.00.</div>
        <div class="col-sm-6 front-font">Educating your patients is a constant challenge.</div>
    </div>
    <br />
    <div class="row">
        <div class="front-font">
            Using PracticeOwl automated education game <strong>YOUR</strong> patient visit 
            average(PVA) will increase by 4 visits and your educutation struggles will be over.
        </div>
    </div>
    <div class="row text-left">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Increased Visits Per Patient:</th>
                    <th>New Patients Per Year</th>
                    <th>Collections/Visit</th>
                    <th>Education Generated Income</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{netPvaIncrease}}</td>
                    <td>{{newPatientsPerMonth * 12}} (month: {{newPatientsPerMonth}})</td>
                    <td>${{averageCollectionsPerVisit}}.00</td>
                    <td>${{12 * netPvaIncrease* newPatientsPerMonth * averageCollectionsPerVisit}}.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <h3>Welcome!</h3>
        <!--<h3>Are you new here?</h3>-->
        <button class="btn btn-primary" ng-click="login()">Login</button>
        <!--<button class="btn btn-info" ng-click="register()">Register</button>-->

    </div>
</div>
